## Exercício 1: Verifique se um número é positivo, negativo ou zero.

In [1]:
# Tendo em mãos um relação de números enviada por um amigo.
# Compare um número com outro, e separe em outra lista os que forem maior que zero.
# Em outra lista os que são menor que zero .
# Em outra lista os zero.

num = int(input('Digite um número: '))
if num > 0:
 print('Positivo')
elif num < 0:
 print('Negativo')
else:
 print('Zero')

ValueError: invalid literal for int() with base 10: ''

## Exercício 2: Peça dois números e exiba o maior.

In [ ]:
num1 = int(input('Digite o primeiro número:'))
num2 = int(input('Digite o segundo número:'))
if num1 > num2:
  print('O número maior é: ', num1)
elif num1 == num2:
  print('Os números são iguais')
else:
  print('Onúmero maioe é: ', num2)

Digite o primeiro número:5
Digite o segundo número:1
O número maior é:  5

In [ ]:
#

## Exercício 3: Verifique se um número é par ou ímpar.

In [ ]:
num1 = int(input('Digite um número: '))
if num1 % 2 == 0:
   print('par')
else:
   print('Impar')

Digite um número: 5
Impar

In [ ]:
# Pegue o número e divida por 2 se não sobrar resto é par.

## Exercício 4: Verifique se um ano é bissexto.

In [ ]:
ano = int(input('Digite um ano com 4 dígitos: '))
if (ano % 4 == 0 and ano % 100 != 0) or ano % 400 == 0:
   print('É bissexto')
else:
   print('Não é bissexto')

Digite um ano com 4 dígitos: 2025
Não é bissexto

## Exercício 5: Peça três números e exiba o maior.

In [ ]:
num1 = int(input('Digite o primeiro número:'))
num2 = int(input('Digite o segundo número:'))
num3 = int(input('Digite o terceiro número:'))
print('O maior número é', max(num1, num2, num3))

Digite o primeiro número:357
Digite o segundo número:249
Digite o terceiro número:637
O maior número é 637

## Exercício 6: Verifique se um usuário pode votar (idade >= 18).

In [ ]:
num = int(input('Informe a idade: '))
if num1 >=18:
  print('Pode votar')
else :
  print('Não pode votar')

Informe a idade: 28
Pode votar

## Exercício 7: Verifique se já posso ir embora da aula de Análise de Dados sem assinar a folha.

In [ ]:
from datetime import datetime, time

print(datetime.now().time())
if datetime.now().time() >= time(00,45,0):
  print('Pode')
else:
  print('Não pode')

00:48:08.305398
Pode

## Exercício 8: Verifique se uma senha digitada corresponde a '1234'.

In [ ]:
senha = input('Digite a senha:')
if senha == '1234':
  print('Senha correta !')
else:
  print('Senha incorreta')

Digite a senha:1234
Senha correta !

## Exercício 9: Verifique se um número está entre 10 e 50.

In [ ]:
num = int(input('Digite um número:'))
if num >= 10 and num <= 50:
  print('Está entre 10 e 50')´

## Exercício 10: Peça ao usuário um número e exiba 'Alto' se for maior que 100 e 'Baixo' se for menor.

In [ ]:
valor = int(input('Informe um número:'))
if valor > 100:
  print('Alto')
else:
  print('Baixo')

## Exercício 11: Crie um menu onde o usuário pode escolher entre somar, subtrair, multiplicar e dividir dois números.

In [ ]:
def operacao(op, a, b):
  return {
      '1': a + b,
      '2': a - b,
      '3': a * b,
      '4': a / b if b != 0 else 'Divisão por zero não aceita'
  }.get(op, 'Operação inválida!')

op=input('Escolha: 1-Soma, 2-Sub, 3-Mult, 4-Div')
a, b = map(int, input('Digite dois números: ').split())
print('Resultado:', operacao(op, a, b))

Escolha: 1-Soma, 2-Sub, 3-Mult, 4-Div1
Digite dois números: 1 1
Resultado: 2

## Exercício 12: Crie um menu para converter temperaturas entre Celsius, Fahrenheit e Kelvin.

In [ ]:
def temperatura(op, t):
  return {
      '1': (t * 9/5) + 32,
      '2': t + 273.15
  }.get(op, 'Opção inválida')

op= input('Digite a conversão desejada: 1-Celsius para Fahrenheit, 2-Celsius para Kelvin:')
t = float(input('Digite a temperatura Celsius: '))
print('Temperatura convertida: ', temperatura(op, t))

Digite a conversão desejada: 1-Celsius para Fahrenheit, 2-Celsius para Kelvin:1
Digite a temperatura Celsius: 15
Temperatura convertida:  59.0

## Exercício 13: Crie um programa que traduza números de 1 a 5 para palavras (1 = um, 2 = dois...).

In [ ]:
op =input('Digite um número de 1 a 5:')
print({
    '1': 'um',
    '2': 'dois',
    '3': 'três',
    '4': 'quatro',
    '5': 'cinco',
}.get(op, 'Opção inválida'))

Digite um número de 1 a 5:4
quatro

## Exercício 14: Crie um menu onde o usuário pode escolher entre exibir a data, hora ou sair.

In [ ]:
from datetime import datetime, time, date


op = input('1-Data\n2-Hora\n3-Sair\nEscolha uma das opções: ')
print({
    '1': datetime.now().date(),
    '2': datetime.now().time(),
    '3': 'Saindo'
}.get(op, 'Opção inválida'))

1-Data
2-Hora
3-Sair
Escolha uma das opções: 3
Saindo

## Exercício 15: Implemente um programa que identifica o dia da semana baseado em um número (1 = Segunda, 7 = Domingo).

In [ ]:
op= input('Digite um número de 1 a 7')
print({
    '1': 'Segunda',
    '2': 'Terça',
    '3': 'Quarta',
    '4': 'Quinta',
    '5': 'Sexta',
    '6': 'Sábado',
    '7': 'Domingo',
}.get(op, 'Opção inválida'))

Digite um número de 1 a 76
Sábado

## Exercício 16: Verifique se um número é par ou ímpar usando if ternário.

In [ ]:
num = int(input('Informe um número: '))
print('Par' if num % 2 == 0 else 'Impar')

Informe um número: 8
Par

## Exercício 17: Verifique se um número é positivo ou negativo usando if ternário.

In [ ]:
num = int(input('Informe um número: '))
print('Positivo' if num > 0 else 'Negativo')

Informe um número: 5
Positivo

## Exercício 18: Retorne 'Adulto' se a idade for maior ou igual a 18, senão 'Menor de idade'.

In [ ]:
num = int(input('Informe a idade: '))
print('Adulto' if num > 0 else 'Menor de idade')

Informe a idade: 25
Adulto

## Exercício 19: Verifique se um número é maior que 100 e retorne 'Grande' ou 'Pequeno'.

In [ ]:
num = int(input('Informe um número: '))
print('Grande' if num > 100 else 'Pequeno')

Informe um número: 11
Pequeno

## Exercício 20: Retorne 'Aprovado' se a nota for maior ou igual a 7, senão 'Reprovado'.

In [ ]:
num = int(input('Informe um número: '))
print('Aprovado' if num >= 7 else 'Reprovado')

Informe um número: 7
Aprovado

## Exercício 21: Imprima os números de 1 a 10 usando um laço for.

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## Exercício 22: Imprima os números pares de 1 a 20.

In [ ]:
for i in range(2, 21, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20

## Exercício 23: Calcule a soma dos números de 1 a 100.

In [ ]:
 num = 0
 for i in range(1, 101):
   num += i
print(num)

5050

## Exercício 24: Imprima a tabuada do 5.

In [ ]:
for i in range(1, 11):
    print(f"5 x {i} = {5 * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## Exercício 25: Imprima os 10 primeiros números da sequência de Fibonacci.

In [ ]:
n1, n2 = 0, 1
print(n1)
print(n2)
for _ in range(8):  # Já imprimimos os dois primeiros números
    n3 = n1 + n2
    print(n3)
    n1, n2 = n2, n3

0
1
1
2
3
5
8
13
21
34

## Exercício 26: Percorra uma string e imprima cada caractere.

In [ ]:
string = "Residencia_Serratec"
for char in string:
    print(char)

R
e
s
i
d
e
n
c
i
a
_
S
e
r
r
a
t
e
c

## Exercício 27: Crie um programa que peça um número e imprima sua contagem regressiva até 0.

In [ ]:
num = int(input('Digite um numero: '))
for i in range(num, -1, -1):
  print(i)

Digite um numero: 11
11
10
9
8
7
6
5
4
3
2
1
0

## Exercício 28: Crie um programa que solicite 5 números ao usuário e exiba a soma deles.

In [ ]:
num1 = int(input('Digite o primeiro número:'))
num2 = int(input('Digite o segundo número:'))
num3 = int(input('Digite o terceiro número:'))
num4 = int(input('Digite o quarto número:'))
num5 = int(input('Digite o quinto número:'))
print('A soma total é:', num1 + num2 + num3 + num4 + num5 )

Digite o primeiro número:1
Digite o segundo número:2
Digite o terceiro número:3
Digite o quarto número:4
Digite o quinto número:5
A soma total é: 15

## Exercício 29: Imprima todas as vogais de uma string digitada pelo usuário.

In [ ]:
#Variavél inicial.
string = input('Digite uma string: ')
vogais = 'aeiouAEIOU'
#Variavél de cálculo.
for letra in string:
  if letra in vogais:
    print(letra)

Digite uma string: serratec
e
a
e

## Exercício 30: Crie um programa que peça 5 números e exiba apenas os números pares.

In [ ]:
numeros = [int(input(f"Digite o {i + 1}º número: ")) for i in range(5)]
numeros_pares = [num for num in numeros if num % 2 == 0]

print("Os números pares são:", numeros_pares)

Digite o 1º número: 2
Digite o 2º número: 2
Digite o 3º número: 3
Digite o 4º número: 5
Digite o 5º número: 6
Os números pares são: [2, 2, 6]

## Exercício 31: Percorra uma lista de frutas e imprima cada uma.

In [ ]:
#Variavél inicial.
frutas = ["maçã", "banana", "laranja", "uva", "morango"]

#Variavel de cálculo
for fruta in frutas:  # Itera sobre cada elemento da lista 'frutas'
    print(fruta)  # Imprime o elemento atual (fruta)

maçã
banana
laranja
uva
morango

## Exercício 32: Some todos os números de uma lista.

## Exercício 33: Multiplique cada número de uma lista por 2 e imprima o resultado.

## Exercício 34: Conte quantas palavras existem em uma lista de palavras.

## Exercício 35: Imprima cada letra de uma palavra separadamente.

## Exercício 36: Crie uma lista com 5 números e imprima o maior.

## Exercício 37: Crie uma lista e inverta a ordem dos elementos.

## Exercício 38: Crie uma lista com 5 nomes e remova o último nome.

## Exercício 39: Ordene uma lista de números.

## Exercício 40: Crie uma lista com 5 números e exiba apenas os pares.

## Exercício 41: Crie uma lista e adicione um novo elemento no final.

## Exercício 42: Verifique se um número existe dentro de uma lista.

## Exercício 43: Crie uma lista de números e calcule a média.

## Exercício 44: Crie uma lista de nomes e converta todos para maiúsculas.

## Exercício 45: Crie uma lista de números e remova os duplicados.

## Exercício 46: Crie um dicionário com nomes de alunos e suas notas e exiba a nota de um aluno específico.

## Exercício 47: Adicione um novo aluno e sua nota a um dicionário.

## Exercício 48: Remova um aluno do dicionário.

## Exercício 49: Percorra um dicionário e imprima suas chaves e valores.

## Exercício 50: Verifique se uma chave existe no dicionário.